@tailwind base;
@tailwind components;
@tailwind utilities;
 


main {
   display: grid;
   grid-template-columns: auto 400px auto;
}
main #missatgesArea {
   grid-row: 1/2;
   grid-column: 2/3;
   min-height: 80px;
   max-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   overflow-y: scroll;
   background-image: url(../assets/fondo.jpg);
   background-repeat: repeat;
   background-size: auto 100%;

}
main #missatgesArea > .date {
   align-self: center;
   background-color: lightgreen;
   border-radius: 5px;
   padding: 2px 2px;
   margin: 8px 0px;
}
main #missatgesArea > .missatge {
   display: inline-block;
   background-color: white;
   border-radius: 5px;
   margin: 5px 4px;
   padding: 3px 6px;
}
main #missatgesArea > .missatge > span {
   font-size: 0.6rem;
   padding-left: 5px;
}
main #missatgesArea img {
   height: 40px;
}
main #text-section {
   grid-row: 2/3;
   grid-column: 2/3;
   display: flex;
   flex-direction: row;
   border: 1px solid grey;
   width: 100%;
   min-height: 40px;
}
main #text-section img {
   height: 45px;
}
main #text-section img#buttonSend {
   cursor: pointer;
}
main #text-section input#text {
   border: 0px;
   font-size: 1.2rem;
   width: 300px;
   line-height: 40px;
   padding: 0 5px;
}
main #teclat {
   border: 1px solid grey;
   grid-row: 3/4;
   grid-column: 2/3;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: auto;
   width: 400px;
   flex-direction: row;
   flex-wrap: wrap;
}
main #teclat .fila {
   display: flex;
   justify-content: center;
}
main #teclat .fila .tecla {
   width: 20px;
   border-radius: 4px;
   padding: 4px;
   margin: 1px;
   font-size: 1rem;
   text-align: center;
   border: 1px solid black;
   cursor: pointer;
}
main #teclat .fila .operacio {
   padding: 7px 4px 10px 4px;
   background-color: #f8d8cb;
}
main #teclat .fila .operacio:hover {
   background-color: lightgray;
}
main #teclat .fila .operacio:active {
   background-color: #c7bbbb;
}
main #teclat .fila .lletra {
   padding: 7px 4px 10px 4px;
}
main #teclat .fila .lletra:hover {
   background-color: lightgray;
}
main #teclat .fila .lletra:active {
   background-color: #c7bbbb;
}
main #teclat .fila .caps-on-next {
   border: 3px solid black;
}
main #teclat .fila .caps-on-all {
   background: black !important;
}
main #emojis {
   display: none;
   border: 1px solid grey;
   cursor: pointer;
   grid-row: 3/4;
   grid-column: 2/3;
}


@media only screen and (min-width: 600px) {
   #wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   #left {
      grid-column: 2/3;
   }
   #right {
      grid-column: 3/4;
   }
   .button {
      width: 50px;
      height: 50px;
      line-height: 50px;
   }
}
